
/* Center all headers for ease of use*/
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

/* rules for cards & elements within cards */
#card_box {
	min-width: 20rem;
	max-width: 20rem;
	min-height: 25rem;
	max-height: 25rem;
	margin: 2.5% 2.5% 2.5% 2.5%;
}

.card-title {
	font-size: 0.85em;
}

.card-text {
	text-align: center;
}

.review-title {
	margin-top: 1%;
	margin-bottom: 1%;
	text-align: center;
}

.review-text {
	text-align: left;
	margin-left: 3%;
	margin-right: 3%;
	font-size: .95em;
}

.card-body {
	padding: 0;
    cursor: pointer;
}

.course-tags-card {
	text-align: center;
}
.badge {
	margin: auto;
}

.progress {
	height: 1.5rem;
    margin: 5% 5% 2.5% 5%;
}

.progress-bar {
	background-color: #ff6666;
}

.progress span {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.review-card {
    min-height: 10rem;
    max-height: 10rem;
	background-color: #ffcccc;
    margin-left: 2%;
    margin-right: 2%;
}

/* Rules for Modal */
.course-review-modal {
	cursor: pointer;
}

#course-code-modal {
	margin: 0 auto;
}
#course-title-modal {
	text-align: center;
	margin-bottom: 2%;
}

.homepage-text {
	margin-top: 5%;
}
		
.search-homepage {
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
}

.form-box {
	text-align: center;
}

body .ui-autocomplete {
  /* font-family to all */
  z-index: 5000;
}

body .ui-state-hover {
}

body .ui-autocomplete .ui-menu-item .ui-corner-all {
   /* all <a> */
}

body .ui-autocomplete .ui-menu-item .ui-state-focus {
	/* selected <a> */
	background: none !important;
	background-color: pink !important;
	text-decoration-color: ;
}


/* CSS for the forms */
.addCourseReviewForm {
	padding: 5% 5% 5% 5%;
}

#formTitle {
	text-align: center;
}

.course-review-tag-btn {
	margin: 2% 2% 2% 2%;
}

/* colors for cards css */
/*
.color10 {
	background-color: #ffffff;
}

.color9 {
	background-color: #ffe6e6;
}

.color8 {
	background-color: #ffcccc;
}

.color7 {
	background-color: #ffb3b3;
}

.color6 {
	background-color: #ff9999;
}

.color5 {
	background-color: #ff8080;
}

.color4 {
	background-color: #ff6666;
}

.color3 {
	background-color: #ff4d4d;
}

.color2 {
	background-color: #ff3333;
}

.color1 {
	background-color: #ff1a1a;
}

.color0 {
	background-color: #ff0000;
}
*/
.body {
	background-color: grey;
}

/* about page rules */
.about-list {
}

/* background color */
body {
	background-color: #ededed;
}

/* rules for registration forms */
#login-fields {
	text-align: center;
}

#login-register-links {
	text-align: center;
}

#course-tag {
	margin: 1% 1% 1% 1%;
}

