h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

#card_box {
	min-width: 20rem;
	max-width: 20rem;
	height: auto;
	margin: 2.5% 2.5% 2.5% 2.5%;
}

.homepage-text {
	margin-top: 5%;
}

.search-homepage {
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
}

/* Add Course Form CSS */

.add-course-review-form {
	background-color: #b0b3b7;
    width: 40%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    border-collapse: separate;
}

.form-box {
	text-align: center;
}

body .ui-autocomplete {
  /* font-family to all */
}

body .ui-state-hover {
	background: #428BCA!important;
}

body .ui-autocomplete .ui-menu-item .ui-corner-all {
   /* all <a> */
}

body .ui-autocomplete .ui-menu-item .ui-state-focus {
   /* selected <a> */
}


/* CSS for the forms */

#RGB {
	height: 20px;
	background: rgb(128, 128, 128);
}
#RC .slider-selection {
	background: #FF8282;
}
#RC .slider-handle {
	background: red;
}
#GC .slider-selection {
	background: #428041;
}
#GC .slider-handle {
	background: green;
}
#BC .slider-selection {
	background: #8283FF;
}
#BC .slider-handle {
	border-bottom-color: blue;
}
#R, #G, #B {
	width: 300px;
}


