{% extends 'index.html' %}
{% block content %}
<script>
$(function() {

var courseDeptAndNumber = [
  {% for course in courses %}
      "{{ course.courseDepartment}}{{course.courseNumber}}" {% if not forloop.last %},{% endif %}
   {% endfor %}
];

var instructorNames = [
   {% for name in instructors %}
      "{{ name.firstName }} {{ name.lastName }}" {% if not forloop.last %},{% endif %}
   {% endfor %}
];

$( "#courseDepartmentAndNumber" ).autocomplete({
  source: courseDeptAndNumber
});


$( "#instructorName" ).autocomplete({
  source: instructorNames
});

});

</script>
<form method="post">
	<div class="add-course-review-form">
		<div class="form-box">
		    {% csrf_token %}
		    {{ form.as_p }}
		    <div class="form-actions">
		      <button type="submit">Send</button>
		    </div>
	    </div>
    </div>
</form>
{% endblock %}
