{% extends 'index.html' %}
{% block content %}
{% if user.is_authenticated %}
<script>
$(function() {

var courseDeptAndNumber = [
  {% for course in courses %}
      "{{ course.courseDepartment}}{{course.courseNumber}}" {% if not forloop.last %},{% endif %}
   {% endfor %}
];

var instructorNames = [
   {% for name in instructors %}
      "{{ name.firstName }} {{ name.lastName }}" {% if not forloop.last %},{% endif %}
   {% endfor %}
];

$( "#courseDepartmentAndNumber" ).autocomplete({
  source: courseDeptAndNumber
});


$( "#instructorName" ).autocomplete({
  source: instructorNames
});

});

</script>

<form method="post">
	<div class="add-course-review-form">
		<div class="form-box">
		    {% csrf_token %}
		    {{ form.as_p }}
		    <div class="form-actions">
		      <button type="submit">Send</button>
		    </div>
	    </div>
    </div>
</form>
{% else %}
  <br>
  <br>
  <div class="container">
    <h3>Oops! You must be logged in to view this content...</h3>
    <br>
    <div class="row" id="login-register-links">
      <div class="col-md-6">
        <a class="login-message" href= "{% url 'login' %}">click here to login</a>
      </div>
      <div class="col-md-6">
        <a class="login-message" href= "{% url 'signup' %}">click here to register</a>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}
