{% extends 'index.html' %}

{% block content %}
<br>
<div class="container">
	<div class="row">
	  <div class="container">
	  	<form method="get" action="/search/" role="search">
		    <div class="input-group">
		      <input type="text" class="form-control" placeholder="Search for a course review by course or instructor" name="searchbox">
		      <span class="input-group-btn">
		        <button value="Search" type="text" id="search-submit" class="btn btn-secondary">Search</a>
		      </span>
		    </div>
	        <small id="help" class="form-text text-muted">Confused about ratings or card colors? Check out the <a href="{% url 'about' %}">about page</a> </small>
		</form>
	  </div>
	</div>
</div>
<br>
<div class="container"> 
	<h2>Courses offered at UW Madison</h2>
	<div class="card-deck">
	 {% for course in courses %}
	    <div class="card border-dark mb-3 color{{ course.averageRating|make_list|first }}" id="card_box" data-toggle="modal" data-target=".bd-example-modal-lg">
	    	<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>
			<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">
			    	<div class="modal-header">
				    	<h5 class="modal-title" id="exampleModalLongTitle">Course: {{course.courseDepartment}} {{course.courseNumber}}</h5>
				    	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				    		<span aria-hidden="true">&times;</span>
				    	</button>
				    </div>
  			        <div class="modal-body">
				    </div>
				    <div class="modal-footer">
					    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					    <button type="button" class="btn btn-primary">Save changes</button>
				    </div>
			    </div>
			  </div>
			</div>
	    	<div class="card-header">{{course.courseDepartment}}: {{course.courseNumber}}</div>
		    <div class="card-body text-dark">
		      <h4 class="card-title"></h4>
		      <p class="card-text">Average Rating: {{course.averageRating}}</p>
		      <p class="card-text">Number of Ratings: {{course.numberOfRatings}}</p>
		    </div>
		    <div class="card-footer">
		      <small class="text-muted"></small>
		    </div>
	 	</div>
	  {% endfor %}
	</div>
</div>
{% endblock %}
