{% extends 'index.html' %}
{% block content %}
<div class="container-fluid">
	<h3 id="course-detail-code">{{course.courseDepartment}} {{course.courseNumber}}</h3>
	<h3 class="text-muted" id="course-detail-name">{{course.courseName}}</h3>
	<h6 id="course-detail-credits">{{course.credits}} credits</h6>
	<h5 id="course-detail-description">{{course.courseInfo}}</h5>
	<br>
	<div class="row">
		<div class="col-md-6">
			<h3>Grade Distribution Data</h3>
			<div class="button-bar">
				<button class="btn btn-outline-dark chart-button active" id="fall17-btn">
					Fall '17
				</button>
				<button class="btn btn-outline-dark chart-button" id="spring17-btn">
					Spring '17
				</button>
				<button class="btn btn-outline-dark chart-button" id="fall16-btn">
					Fall '16
				</button>
				<button class="btn btn-outline-dark chart-button" id="spring16-btn">
					Spring '16
				</button>
				<button class="btn btn-outline-dark chart-button" id="fall15-btn">
					Fall '15
				</button>
				<button class="btn btn-outline-dark chart-button" id="spring15-btn">
					Spring '15
				</button>
				<button class="btn btn-outline-dark chart-button" id="fall14-btn">
					Fall '14
				</button>
			</div>
			<div class="card border-dark course-detail-chart-outline">
				<canvas id="myChart"></canvas>
			</div>
			<script>
			var curr_chart;
			var fall17 = {
				labels: ["A", "AB", "B", "BC", "C", "D", "F"],
		        datasets: [{
		            label: '%',
		            data: [
		            	{{course.gradeDistributionSemesterId.fall17.a}},
		            	{{course.gradeDistributionSemesterId.fall17.ab}},
		            	{{course.gradeDistributionSemesterId.fall17.b}},
		            	{{course.gradeDistributionSemesterId.fall17.bc}},
		            	{{course.gradeDistributionSemesterId.fall17.c}},
		            	{{course.gradeDistributionSemesterId.fall17.d}},
		            	{{course.gradeDistributionSemesterId.fall17.f}},
		            ],
		            backgroundColor: [
		                'rgba(255, 99, 132, 0.2)',
		                'rgba(54, 162, 235, 0.2)',
		                'rgba(255, 206, 86, 0.2)',
		                'rgba(75, 192, 192, 0.2)',
		                'rgba(153, 102, 255, 0.2)',
		                'rgba(255, 159, 64, 0.2)'
		            ],
		            borderColor: [
		                'rgba(255,99,132,1)',
		                'rgba(54, 162, 235, 1)',
		                'rgba(255, 206, 86, 1)',
		                'rgba(75, 192, 192, 1)',
		                'rgba(153, 102, 255, 1)',
		                'rgba(255, 159, 64, 1)'
		            ],
		            borderWidth: 1
		        }]
		    };

			var spring17 = {
				labels: ["A", "AB", "B", "BC", "C", "D", "F"],
		        datasets: [{
		            label: '%',
		            data: [
		            	{{course.gradeDistributionSemesterId.spring17.a}},
		            	{{course.gradeDistributionSemesterId.spring17.ab}},
		            	{{course.gradeDistributionSemesterId.spring17.b}},
		            	{{course.gradeDistributionSemesterId.spring17.bc}},
		            	{{course.gradeDistributionSemesterId.spring17.c}},
		            	{{course.gradeDistributionSemesterId.spring17.d}},
		            	{{course.gradeDistributionSemesterId.spring17.f}},
		            ],
		            backgroundColor: [
		                'rgba(255, 99, 132, 0.2)',
		                'rgba(54, 162, 235, 0.2)',
		                'rgba(255, 206, 86, 0.2)',
		                'rgba(75, 192, 192, 0.2)',
		                'rgba(153, 102, 255, 0.2)',
		                'rgba(255, 159, 64, 0.2)'
		            ],
		            borderColor: [
		                'rgba(255,99,132,1)',
		                'rgba(54, 162, 235, 1)',
		                'rgba(255, 206, 86, 1)',
		                'rgba(75, 192, 192, 1)',
		                'rgba(153, 102, 255, 1)',
		                'rgba(255, 159, 64, 1)'
		            ],
		            borderWidth: 1
		        }]
		    };

			var fall16 = {
				labels: ["A", "AB", "B", "BC", "C", "D", "F"],
		        datasets: [{
		            label: '%',
		            data: [
		            	{{course.gradeDistributionSemesterId.fall16.a}},
		            	{{course.gradeDistributionSemesterId.fall16.ab}},
		            	{{course.gradeDistributionSemesterId.fall16.b}},
		            	{{course.gradeDistributionSemesterId.fall16.bc}},
		            	{{course.gradeDistributionSemesterId.fall16.c}},
		            	{{course.gradeDistributionSemesterId.fall16.d}},
		            	{{course.gradeDistributionSemesterId.fall16.f}},
		            ],
		            backgroundColor: [
		                'rgba(255, 99, 132, 0.2)',
		                'rgba(54, 162, 235, 0.2)',
		                'rgba(255, 206, 86, 0.2)',
		                'rgba(75, 192, 192, 0.2)',
		                'rgba(153, 102, 255, 0.2)',
		                'rgba(255, 159, 64, 0.2)'
		            ],
		            borderColor: [
		                'rgba(255,99,132,1)',
		                'rgba(54, 162, 235, 1)',
		                'rgba(255, 206, 86, 1)',
		                'rgba(75, 192, 192, 1)',
		                'rgba(153, 102, 255, 1)',
		                'rgba(255, 159, 64, 1)'
		            ],
		            borderWidth: 1
		        }]
		    };
			
			var spring16 = {
				labels: ["A", "AB", "B", "BC", "C", "D", "F"],
		        datasets: [{
		            label: '%',
		            data: [
		            	{{course.gradeDistributionSemesterId.spring16.a}},
		            	{{course.gradeDistributionSemesterId.spring16.ab}},
		            	{{course.gradeDistributionSemesterId.spring16.b}},
		            	{{course.gradeDistributionSemesterId.spring16.bc}},
		            	{{course.gradeDistributionSemesterId.spring16.c}},
		            	{{course.gradeDistributionSemesterId.spring16.d}},
		            	{{course.gradeDistributionSemesterId.spring16.f}},
		            ],
		            backgroundColor: [
		                'rgba(255, 99, 132, 0.2)',
		                'rgba(54, 162, 235, 0.2)',
		                'rgba(255, 206, 86, 0.2)',
		                'rgba(75, 192, 192, 0.2)',
		                'rgba(153, 102, 255, 0.2)',
		                'rgba(255, 159, 64, 0.2)'
		            ],
		            borderColor: [
		                'rgba(255,99,132,1)',
		                'rgba(54, 162, 235, 1)',
		                'rgba(255, 206, 86, 1)',
		                'rgba(75, 192, 192, 1)',
		                'rgba(153, 102, 255, 1)',
		                'rgba(255, 159, 64, 1)'
		            ],
		            borderWidth: 1
		        }]
		    };

		   	var fall15 = {
				labels: ["A", "AB", "B", "BC", "C", "D", "F"],
		        datasets: [{
		            label: '%',
		            data: [
		            	{{course.gradeDistributionSemesterId.fall15.a}},
		            	{{course.gradeDistributionSemesterId.fall15.ab}},
		            	{{course.gradeDistributionSemesterId.fall15.b}},
		            	{{course.gradeDistributionSemesterId.fall15.bc}},
		            	{{course.gradeDistributionSemesterId.fall15.c}},
		            	{{course.gradeDistributionSemesterId.fall15.d}},
		            	{{course.gradeDistributionSemesterId.fall15.f}},
		            ],
		            backgroundColor: [
		                'rgba(255, 99, 132, 0.2)',
		                'rgba(54, 162, 235, 0.2)',
		                'rgba(255, 206, 86, 0.2)',
		                'rgba(75, 192, 192, 0.2)',
		                'rgba(153, 102, 255, 0.2)',
		                'rgba(255, 159, 64, 0.2)'
		            ],
		            borderColor: [
		                'rgba(255,99,132,1)',
		                'rgba(54, 162, 235, 1)',
		                'rgba(255, 206, 86, 1)',
		                'rgba(75, 192, 192, 1)',
		                'rgba(153, 102, 255, 1)',
		                'rgba(255, 159, 64, 1)'
		            ],
		            borderWidth: 1
		        }]
		    };
			
			var spring15 = {
				labels: ["A", "AB", "B", "BC", "C", "D", "F"],
		        datasets: [{
		            label: '%',
		            data: [
		            	{{course.gradeDistributionSemesterId.spring15.a}},
		            	{{course.gradeDistributionSemesterId.spring15.ab}},
		            	{{course.gradeDistributionSemesterId.spring15.b}},
		            	{{course.gradeDistributionSemesterId.spring15.bc}},
		            	{{course.gradeDistributionSemesterId.spring15.c}},
		            	{{course.gradeDistributionSemesterId.spring15.d}},
		            	{{course.gradeDistributionSemesterId.spring15.f}},
		            ],
		            backgroundColor: [
		                'rgba(255, 99, 132, 0.2)',
		                'rgba(54, 162, 235, 0.2)',
		                'rgba(255, 206, 86, 0.2)',
		                'rgba(75, 192, 192, 0.2)',
		                'rgba(153, 102, 255, 0.2)',
		                'rgba(255, 159, 64, 0.2)'
		            ],
		            borderColor: [
		                'rgba(255,99,132,1)',
		                'rgba(54, 162, 235, 1)',
		                'rgba(255, 206, 86, 1)',
		                'rgba(75, 192, 192, 1)',
		                'rgba(153, 102, 255, 1)',
		                'rgba(255, 159, 64, 1)'
		            ],
		            borderWidth: 1
		        }]
		    };
			
			var fall14 = {
				labels: ["A", "AB", "B", "BC", "C", "D", "F"],
		        datasets: [{
		            label: '%',
		            data: [
		            	{{course.gradeDistributionSemesterId.fall14.a}},
		            	{{course.gradeDistributionSemesterId.fall14.ab}},
		            	{{course.gradeDistributionSemesterId.fall14.b}},
		            	{{course.gradeDistributionSemesterId.fall14.bc}},
		            	{{course.gradeDistributionSemesterId.fall14.c}},
		            	{{course.gradeDistributionSemesterId.fall14.d}},
		            	{{course.gradeDistributionSemesterId.fall14.f}},
		            ],
		            backgroundColor: [
		                'rgba(255, 99, 132, 0.2)',
		                'rgba(54, 162, 235, 0.2)',
		                'rgba(255, 206, 86, 0.2)',
		                'rgba(75, 192, 192, 0.2)',
		                'rgba(153, 102, 255, 0.2)',
		                'rgba(255, 159, 64, 0.2)'
		            ],
		            borderColor: [
		                'rgba(255,99,132,1)',
		                'rgba(54, 162, 235, 1)',
		                'rgba(255, 206, 86, 1)',
		                'rgba(75, 192, 192, 1)',
		                'rgba(153, 102, 255, 1)',
		                'rgba(255, 159, 64, 1)'
		            ],
		            borderWidth: 1
		        }]
		    };

			var ctx = document.getElementById("myChart").getContext('2d');
		    var myChart = new Chart(ctx, {
			    type: 'bar',
			    data: fall17,
			    options: {
			    	legend: {
			    		display: false
			    	},
			        scales: {
			            yAxes: [{
			                ticks: {
                				suggestedMin: 0,
                    			suggestedMax: 40,
			                }
			            }]
			        }
			    }
			});
		    curr_chart = myChart;
		    $("#fall17-btn").on("click", function() {
		    	curr_chart.destroy();
			    var ctx1 = document.querySelector('#myChart').getContext('2d');
			    var myChart = new Chart(ctx1, {
				    type: 'bar',
				    data: fall17,
				    options: {
				    	legend: {
			    			display: false
			    		},
				        scales: {
				            yAxes: [{
				                ticks: {
	                				suggestedMin: 0,
	                    			suggestedMax: 40,
				                }
				            }]
				        }
				    }
				});
			    curr_chart = myChart;
			});
			$("#spring17-btn").on("click", function() {
		    	curr_chart.destroy();
				var ctx2 = document.querySelector('#myChart').getContext('2d');
			    var myChart = new Chart(ctx2, {
				    type: 'bar',
				    data: spring17,
				    options: {
				    	legend: {
				    		display: false
				    	},
				        scales: {
				            yAxes: [{
				                ticks: {
	                				suggestedMin: 0,
	                    			suggestedMax: 40,
				                }
				            }]
				        }
				    }
				});
			    curr_chart = myChart;
			});
			$("#fall16-btn").on("click", function() {
		    	curr_chart.destroy();
			    var ctx3 = document.querySelector('#myChart').getContext('2d');
			    var myChart = new Chart(ctx3, {
				    type: 'bar',
				    data: fall16,
				    options: {
					    legend: {
				    		display: false
				    	},
				        scales: {
				            yAxes: [{
				                ticks: {
	                				suggestedMin: 0,
	                    			suggestedMax: 40,
				                }
				            }]
				        }
				    }
				});
			    curr_chart = myChart;
			});
			$("#spring16-btn").on("click", function() {
		    	curr_chart.destroy();
				var ctx4 = document.querySelector('#myChart').getContext('2d');
			    var myChart = new Chart(ctx4, {
				    type: 'bar',
				    data: spring16,
				    options: {
				    	legend: {
				    		display: false
				    	},
				        scales: {
				            yAxes: [{
				                ticks: {
	                				suggestedMin: 0,
	                    			suggestedMax: 40,
				                }
				            }]
				        }
				    }
				});
			    curr_chart = myChart;
			});
			$("#fall15-btn").on("click", function() {
		    	curr_chart.destroy();
			    var ctx5 = document.querySelector('#myChart').getContext('2d');
			    var myChart = new Chart(ctx5, {
				    type: 'bar',
				    data: fall15,
				    options: {
				    	legend: {
				    		display: false
				    	},
				        scales: {
				            yAxes: [{
				                ticks: {
	                				suggestedMin: 0,
	                    			suggestedMax: 40,
				                }
				            }]
				        }
				    }
				});
			    curr_chart = myChart;
			});
			$("#spring15-btn").on("click", function() {
		    	curr_chart.destroy();
				var ctx6 = document.querySelector('#myChart').getContext('2d');
			    var myChart = new Chart(ctx6, {
				    type: 'bar',
				    data: spring15,
				    options: {
				    	legend: {
				    		display: false
				    	},
				        scales: {
				            yAxes: [{
				                ticks: {
	                				suggestedMin: 0,
	                    			suggestedMax: 40,
				                }
				            }]
				        }
				    }
				});
			    curr_chart = myChart;
			});
			$("#fall14-btn").on("click", function() {
		    	curr_chart.destroy();
				var ctx7 = document.querySelector('#myChart').getContext('2d');
			    var myChart = new Chart(ctx7, {
				    type: 'bar',
				    data: fall14,
				    options: {
				    	legend: {
				    		display: false
				    	},
				        scales: {
				            yAxes: [{
				                ticks: {
	                				suggestedMin: 0,
	                    			suggestedMax: 40,
				                }
				            }]
				        }
				    }
				});
			    curr_chart = myChart;
			});

			$(document).ready(function(){
		  		$("div.button-bar button.btn").click(function(){
				    $("div.button-bar").find(".active").removeClass("active");
				    $(this).addClass("active");
		  		});  
			});
			</script>
		</div>

		<div class="col-md-6">
			<h3>Course Reviews</h3>
			<div class="card-deck">
				{% for course_review in course_reviews %}
				<div class="card border-dark mb-3 color{{course.rating}}" id="card-box-card-detail">
			    	<div class="card-header">
				    	    <h6 >{{course_review.courseId.courseDepartment}}{{course_review.courseId.courseNumber}}</h6>
							<h6 class="card-subtitle text-muted">{{course_review.courseId.courseName}}</h6>
			    	</div>
				    <div class="card-body text-dark" data-toggle="modal" data-target=".review-{{course.reviewId}}">
						<div class="modal fade course-review-modal review-{{course.reviewId}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
						  <div class="modal-dialog modal-lg ">
						    <div class="modal-content">
						    	<div class="modal-header">
							    	<h5 class="modal-title" id="course-code-modal">{{course_review.courseId.courseDepartment}}{{course_review.courseId.courseNumber}}</h5>
							    </div>
			  			        <div class="modal-body">
							    	<h5 class="modal-title text-muted" id="course-title-modal">{{course_review.courseId.courseName}}</h5>
							    	<div class="row">
							    		<div class="col-md-6">
									    	<div class="card review-card">
										        <p class="review-title">Review</p>
										        <p class="review-text">{{course_review.review}}</p>
									        </div>
								    	</div>
								    	<div class="col-md-6">
										    <p id="chart-title-modal">Fall 2017 Grade Data</p>
											<canvas id="chart{{course_review.reviewId}}" width="20" height="10"></canvas>
											<script>
											var ctx = document.getElementById("chart{{course_review.reviewId}}").getContext('2d');
											var chart = new Chart(ctx, {
											    type: 'bar',
											    data: {
											        labels: ["A", "AB", "B", "BC", "C", "D"],
											        datasets: [{
											            label: '%',
											            data: [
											            	{{course.gradeDistributionSemesterId.fall17.a}},
											            	{{course.gradeDistributionSemesterId.fall17.ab}},
											            	{{course.gradeDistributionSemesterId.fall17.b}},
											            	{{course.gradeDistributionSemesterId.fall17.bc}},
											            	{{course.gradeDistributionSemesterId.fall17.c}},
											            	{{course.gradeDistributionSemesterId.fall17.d}},
											            	{{course.gradeDistributionSemesterId.fall17.f}},
											            ],
											            backgroundColor: [
											                'rgba(255, 99, 132, 0.2)',
											                'rgba(54, 162, 235, 0.2)',
											                'rgba(255, 206, 86, 0.2)',
											                'rgba(75, 192, 192, 0.2)',
											                'rgba(153, 102, 255, 0.2)',
											                'rgba(255, 159, 64, 0.2)'
											            ],
											            borderColor: [
											                'rgba(255,99,132,1)',
											                'rgba(54, 162, 235, 1)',
											                'rgba(255, 206, 86, 1)',
											                'rgba(75, 192, 192, 1)',
											                'rgba(153, 102, 255, 1)',
											                'rgba(255, 159, 64, 1)'
											            ],
											            borderWidth: 1
											        }]
											    },
											    options: {
											    	legend: {
										    			display: false
										    		},
											        scales: {
											            yAxes: [{
											                ticks: {
								                				suggestedMin: 0,
								                    			suggestedMax: 40,
											                }
											            }]
											        }
											    }
											});
											</script>	
								    	</div>
							    	</div>
			  			        	<div class="course-tags-modal">
								        {% if course_review.courseReviewTagId.weedOutCourse == 1 %}
								        	<button class="btn btn-outline-danger btn-sm " id="course-tag">Weed Out</button>
								        {% endif %}
										{% if course_review.courseReviewTagId.interestingContent == 1 %}
								        	<button class="btn btn-outline-primary btn-sm " id="course-tag">Interesting Content</button>
								        {% endif %}
								        {% if course_review.courseReviewTagId.lotsOfHomework == 1 %}
								        	<button class="btn btn-outline-warning btn-sm " id="course-tag">Lots of Homework</button>
								        {% endif %}
										{% if course_review.courseReviewTagId.mandatoryAttendance == 1 %}
								        	<button class="btn btn-outline-info btn-sm " id="course-tag"> Mandatory Attendance </button>
								        {% endif %}
							    	</div>
							    </div>
							    <div class="modal-footer">
								    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							    </div>
						    </div>
						  </div>
						</div>
				        <p class="card-text">Instructor: {{course_review.instructorId.firstName}} {{course_review.instructorId.lastName}}</p>
				        <div class="card review-card">
					        <p class="review-title">Review</p>
					        <p class="review-text">{{course_review.review}}</p>
				        </div>
		    				
				    	<div class="progress">
							<div class="progress-bar" role="progressbar" style="width: {{course_review.rating_percentage}}%;" aria-valuenow="" aria-valuemin="0" aria-valuemax="10">
							</div>
							<span>{{course_review.rating}}/10</span>
					    </div>
					    <div class="course-tags-card">
					        {% if course_review.courseReviewTagId.weedOutCourse == 1 %}
						        <span class="badge badge-pill badge-danger"> </span>
					        {% endif %}
							{% if course_review.courseReviewTagId.interestingContent == 1 %}
						        <span class="badge badge-pill badge-primary"> </span>
					        {% endif %}
					        {% if course_review.courseReviewTagId.lotsOfHomework == 1 %}
						        <span class="badge badge-pill badge-warning"> </span>
					        {% endif %}
							{% if course_review.courseReviewTagId.mandatoryAttendance == 1 %}
						        <span class="badge badge-pill badge-info"> </span>
					        {% endif %}
				    	</div>
				    </div>
				    <div class="card-footer">
				      <small class="text-dark">Reviewed on {{course_review.reviewDate}}</small>
				    </div>
				</div>
				{% endfor %}
			</div>
			{% if course_reviews.has_other_pages %}
			  <ul class="pagination justify-content-center">
			    {% if course_reviews.has_previous %}
					<li class="page-item">
				      <a class="page-link" href="?page={{ course_reviews.previous_page_number }}" tabindex="-1">Previous</a>
				    </li>
			    {% else %}
			      	<li class="disabled"></li>
			    {% endif %}
			    {% for i in course_reviews.paginator.page_range %}
			      {% if course_reviews.number == i %}
			        <li class="active">
			        	<a class="page-link">{{ i }}<span class="sr-only">(current)</span></a>
			        </li>
			      {% elif i > course_reviews.number|add:'-3' and i < course_reviews.number|add:'3' %}
				    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
			      {% endif %}
			    {% endfor %}
			    {% if course_reviews.has_next %}
			    <li class="page-item">
			    	<a class="page-link" href="?page={{ course_reviews.next_page_number }}">Next</a>
			    </li>
			    {% else %}
			      <li class="disabled"></li>
			    {% endif %}
			  </ul>
			{% endif %}
		</div>
		
	</div>
</div>
{% endblock %}
