{% extends 'index.html' %}

{% block content %}
<div class="container"> 
	<h2>Course Reviews</h2>
	<div class="card-deck">
	 {% for course in course_reviews %}
	 {{course}}
	    <div class="card border-dark mb-3" id="card_box">
	    	<div class="card-header">{{course.courseDepartment}}: {{course.courseNumber}}</div>
		    <div class="card-body text-dark">
		      <h4 class="card-title">{{course.Name}}</h4>
		      <p class="card-text">{{course.instructorId}}</p>
		      <p class="card-text">{{course.review}}</p>
		    </div>
		    <div class="card-footer">
		      <small class="text-muted">Last updated 3 mins ago</small>
		    </div>
		 </div>
	  {% endfor %}
	</div>
</div>
{% endblock %}
