{% extends 'index.html' %}

{% block content %}
<br>
<div class="container"> 
	<h2>Course Reviews</h2>
	<div class="card-deck">
	 {% for course in course_reviews %}
	    <div class="card border-dark mb-3 color{{course.6}}" id="card_box">
	    	<div class="card-header">{{course.0}}: {{course.1}}</div>
		    <div class="card-body text-dark">
		        <p class="card-text">Instructor: {{course.9}} {{course.10}}</p>
		        <p class="card-text">Review: {{course.5}}</p>
		        <p id="cardRating" class="card-text">Rating: {{course.6}}</p>
		    </div>
		    <div class="card-footer">
		      <small class="text-dark">Reviewed on {{course.7}}</small>
		    </div>
		 </div>
	  {% endfor %}
	</div>
</div>
{% endblock %}
