{% extends 'index.html' %}
{% block content %}
<div class="container">
	<h2 class="homepage-text">The Real Course Guide</h2>
</div>
<br>
<div class="container">
	<div class="row">
	  <div class="container">
	  	<form method="get" action="/search/" role="search">
		    <div class="input-group">
		      <input type="text" class="form-control" placeholder="Search for a Course" name="searchbox">
		      <span class="input-group-btn">
		        <button value="Search" type="text" id="search-submit" class="btn btn-secondary">Search</a>
		      </span>
		    </div>
	        <small id="help" class="form-text text-muted">Confused about ratings or card colors? Check out the <a href="{% url 'about' %}">about page</a> </small>
		</form>
	  </div>
	</div>
</div>
<br>
<div class="container"> 
	<h2>Courses offered at UW Madison</h2>
	<div class="card-deck">
	 {% for course in courses %}
	    <a href="/course/{{course.courseId}}" class="card border-dark mb-3 color{{course.rating}}" id="card_box">
	    	<div class="card-header">
		    	    <h6 >{{course.courseDepartment}}{{course.courseNumber}}</h6>
					<h6 class="card-subtitle text-muted">{{course.courseName}}</h6>
	    	</div>
		    <div class="card-body text-dark" data-toggle="modal" data-target=".review-{{course.reviewId}}">
				<div class="modal fade course-review-modal review-{{course.reviewId}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				  <div class="modal-dialog modal-lg ">
				    <div class="modal-content">
				    	<div class="modal-header">
					    	<h5 class="modal-title" id="course-code-modal">{{course.courseDepartment}}{{course.courseNumber}}</h5>
					    </div>
	  			        <div class="modal-body">
					    	<h5 class="modal-title text-muted" id="course-title-modal">{{course.courseName}}</h5>
					    	<div class="row">
					    		<div class="col-md-6">
							    	
						    	</div>
						    	<div class="col-md-6">
									<canvas id="pie-chart" width="20" height="10"></canvas>
									<script>
									new Chart(document.getElementById("pie-chart"), {
									    type: 'pie',
									    data: {
									      labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
									      datasets: [{
									        label: "Population (millions)",
									        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
									        data: [2478,5267,734,784,433]
									      }]
									    },
									    options: {
									      title: {
									        display: true,
									        text: 'Predicted world population (millions) in 2050'
									      }
									    }
									});	
									</script>
						    	</div>
					    	</div>
					    </div>
					    <div class="modal-footer">
						    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					    </div>
				    </div>
				  </div>
				</div>
				<p class="card-text course-card-text">Average Rating: {{course.averageRating}}</p>
  	        	<p class="card-text course-card-text">Number of Ratings: {{course.numberOfRatings}}</p>
				<div class="card border-dark course-card-chart">
					<canvas id="Chart{{course.courseId}}"></canvas>
				</div>
				<script>
				var ctx = document.getElementById("Chart{{course.courseId}}").getContext('2d');
				var myChart = new Chart(ctx, {
				    type: 'bar',
				    data: {
				        labels: ["A", "AB", "B", "BC", "C", "D"],
				        datasets: [{
				            label: 'Fall 2017 Grade Data',
				            data: [
				            	{{course.gradeDistributionDataId.a}},
				            	{{course.gradeDistributionDataId.ab}},
				            	{{course.gradeDistributionDataId.b}},
				            	{{course.gradeDistributionDataId.bc}},
				            	{{course.gradeDistributionDataId.c}},
				            	{{course.gradeDistributionDataId.d}},
				            	{{course.gradeDistributionDataId.f}},
				            ],
				            backgroundColor: [
				                'rgba(255, 99, 132, 0.2)',
				                'rgba(54, 162, 235, 0.2)',
				                'rgba(255, 206, 86, 0.2)',
				                'rgba(75, 192, 192, 0.2)',
				                'rgba(153, 102, 255, 0.2)',
				                'rgba(255, 159, 64, 0.2)'
				            ],
				            borderColor: [
				                'rgba(255,99,132,1)',
				                'rgba(54, 162, 235, 1)',
				                'rgba(255, 206, 86, 1)',
				                'rgba(75, 192, 192, 1)',
				                'rgba(153, 102, 255, 1)',
				                'rgba(255, 159, 64, 1)'
				            ],
				            borderWidth: 1
				        }]
				    },
				    options: {
				        scales: {
				            yAxes: [{
				                ticks: {
	                				suggestedMin: 0,
	                    			suggestedMax: 40,
				                }
				            }]
				        }
				    }
				});
				</script>
		    </div>

		    <div class="card-footer">
		      <small class="text-muted"></small>
		    </div>
		</a>
	  {% endfor %}
	</div>

	{% if courses.has_other_pages %}
	  <ul class="pagination justify-content-center">
	    {% if courses.has_previous %}
			<li class="page-item">
		      <a class="page-link" href="?page={{ course_reviews.previous_page_number }}" tabindex="-1">Previous</a>
		    </li>
	    {% else %}
	      	<li class="disabled"></li>
	    {% endif %}
	    {% for i in courses.paginator.page_range %}
	      {% if courses.number == i %}
	        <li class="active">
	        	<a class="page-link">{{ i }}<span class="sr-only">(current)</span></a>
	        </li>
	      {% elif i > courses.number|add:'-3' and i < courses.number|add:'3' %}
		    	<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
	      {% endif %}
	    {% endfor %}
	    {% if courses.has_next %}
	    <li class="page-item">
	    	<a class="page-link" href="?page={{ course_reviews.next_page_number }}">Next</a>
	    </li>
	    {% else %}
	      <li class="disabled"></li>
	    {% endif %}
	  </ul>
	{% endif %}
</div>
{% endblock %}
