{% extends 'index.html' %}

{% block content %}

{% if user.is_authenticated %}
<br>
<div class="row">
  <div class="container">
  	<form method="get" action="/search/" role="search">
	    <div class="input-group">
	      <input type="text" class="form-control" placeholder="Search for a course review by course or instructor" name="searchbox">
	      <span class="input-group-btn">
	        <button value="Search" type="text" id="search-submit" class="btn btn-secondary">Search</a>
	      </span>
	    </div>
	    <small id="help" class="form-text text-muted">Confused about ratings or card colors? Check out the <a href="{% url 'about' %}">about page</a> </small>
	</form>
  </div>
</div>
<br>
<div class="container"> 
	<h2>Search Results - Courses</h2>
	<div class="card-deck">
	 {% for course in courses %}
	    <div class="card border-dark mb-3 color{{ course.4|make_list|first }}" id="card_box">
	    	<div class="card-header">{{course.1}}: {{course.2}}</div>
		    <div class="card-body text-dark">
		      <h4 class="card-title"></h4>
		      <p class="card-text">Average Rating: {{course.4}}</p>
		      <p class="card-text">Number of Ratings: {{course.5}}</p>
		    </div>
		    <div class="card-footer">
		      <small class="text-dark"></small>
		    </div>
		 </div>
	  {% endfor %}
	</div>
</div>
<br>
<div class="container"> 
	<h2>Search Results - Individual Course Reviews</h2>
	<div class="card-deck">
	 {% for course in course_reviews %}
	    <div class="card border-dark mb-3 color{{course.6}}" id="card_box">
	    	<div class="card-header">{{course.0}}: {{course.1}}</div>
		    <div class="card-body text-dark">
		        <p class="card-text">Instructor: {{course.9}} {{course.10}}</p>
		        <p class="card-text">Review: {{course.5}}</p>
		        <p id="cardRating" class="card-text">Rating: {{course.6}}</p>
		    </div>
		    <div class="card-footer">
		      <small class="text-dark">Reviewed on {{course.7}}</small>
		    </div>
		 </div>
	  {% endfor %}
	</div>
</div>
{% else %}
	<br>
	<br>
	<div class="container">
		<h3>Oops! You must be logged in to view this content...</h3>
		<br>
		<div class="row" id="login-register-links">
			<div class="col-md-6">
				<a class="login-message" href= "{% url 'login' %}">click here to login</a>
			</div>
			<div class="col-md-6">
				<a class="login-message" href= "{% url 'signup' %}">click here to register</a>
			</div>
		</div>
	</div>
{% endif %}
{% endblock %}
